.App h3{
    margin: 6vh 0 0 6vh;
    /* float:left; */
}
.Addform{
    margin-top: 40px;
    /* margin-left: 70%; */
    float: left;
}

.xyz{
    background-color: #bbb;
    width:fit-content;
    text-align: end;
    padding: 0 10px 0 10px;
    /* height:10vh; */
}

button,input{
    margin:5px;
    border-radius: 3px;
}

.chngrp{
    float:left;
    margin-top: 40px;
    margin-right: 5vh;
}
.Addgrp{
    margin-top: 40px;
    /* float: left; */
}